.flex-box{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    
    
}
.flex-item{
    background-color: blueviolet;
    display: flex;
    margin:3px;
    height:35px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 2px;

}
i{
    font-size: 25px;
    
}
button{
    background-color: blueviolet;
}

